.top_controller

  .topImage

  .wrapper

    - unless @upcoming_events.empty?
      %h2= @upcoming_events.size == 1 ? "Upcoming Event" : "Upcoming Events"

      - @upcoming_events.each do |event|
        = render 'shared/event_card', event: event

      .space_box{id: "about"}

    %h2 About

    .vision
      %h1
        「サービス開発」について
        %br
        もっと話し合いたい
      %p
        s-dev talks は、サービスづくりに関わる人々が「エンジニア」や「デザイナー」といった職種にとらわれず、「サービス開発者」として交流するための草の根コミュニティです。効果測定、プロトタイピング、組織づくり、各種フレームワークの実践例 etc... といった、サービス開発に関する知見をカジュアルに共有できるコミュニティを目指してつくられました。
      %p
        メンバー全員が職種や経歴を超えてサービスについて考え、それを作っていくというスタイルの組織が増えている一方で、そこで得た学びや生まれた疑問について話し合えるようなコミュニティはあまり存在していません。
      %p
        この問題を解決するために、私たちは s-dev talks を立ち上げました。
      %p
        「サービス開発についてもっと話し合いたい」
      %p
        そう感じたことがあるなら s-dev talks はきっとあなたの力になれると思います。ぜひ一度、イベントに足を運んでみてください。

      .vision_container
        %p 大切にしていること
        .vision_wrapper
          .vision_wrapper_label 多様性
          %p よいサービスをつくるためには、デザイン、エンジニアリング、ディレクション、法務、広報、カスタマーサポート、採用……といった様々な視点を持ったメンバーが一致団結することが必要不可欠です。したがって、サービス開発者のコミュニティである s-dev talks も、職種や業界、経歴といった壁を越えて人々が集まる場所になる必要があると考えています。

        .vision_wrapper
          .vision_wrapper_label コミュニティ感
          %p 私たちは s-dev talks が「サービス開発について気軽に・楽しく話し合える場所」であってほしいと考えています。そのために、「話す人と聞く人」や「参加者と運営」といった線引きをすることなく、すべての人が聞きたいことを聞いて話したいことを話せる場所をつくるよう心がけています。

        .vision_wrapper
          .vision_wrapper_label 継続性
          %p s-dev talks がより多くの価値を生めるように、そしてその価値がより多くのサービス開発者のもとに届くように、長く継続して活動するコミュニティでありたいと考えています。そのため、理想は大切にしながらも、運営メンバーが楽しく・無理なく関われる範囲や方法で活動を続けていきます。

    .space_box

    %h2 Share

    .hashtag
      .hashtag_label ハッシュタグ
      %p #sdevtalks
      %ul
        %li= link_to image_tag('twitter.png', width:75), 'http://twitter.com/share?url=https://sdevtalks.org/&hashtags=sdevtalks', data:{ size:'large' }, target:'_blank'
        %li= link_to image_tag('facebook.png', width:75), 'http://www.facebook.com/share.php?u=https://sdevtalks.org/', target:'_blank'
