@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('http://fonts.googleapis.com/earlyaccess/notosansjapanese.css');


//16px(Browser Default)

@mixin font-12 {
  font-size: 0.75rem;
}

@mixin font-14 {
  font-size: 0.875rem;
}

@mixin font-16 {
  font-size: 1rem;
}

@mixin font-18 {
  font-size: 1.125rem;
}

@mixin font-20 {
  font-size: 1.25rem;
}

@mixin font-24 {
  font-size: 1.5rem;
}

@mixin font-36 {
  font-size: 2.25rem;
}

@mixin font-60 {
  font-size: 3.75rem;
}