@import "color";
@import "font";


nav {
  width: 800px;
  height: 128px;
  background: linear-gradient(#1b1d28, rgba(27, 29, 40, 0.8) 19%, rgba(27, 29, 40, 0));
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
  margin: 0 auto;

  ul {
    display: flex;
    list-style: none;

    li {
      font-family: 'Questrial', sans-serif;
      font-weight: bold;
      line-height: 128px;
      @include font-20;
      padding-left: 50px;
      &:first-child {
        padding-left: 0;
      }
    }

    a {
      text-decoration: none;

      &:visited {
        color: $white;
      }

      &:hover {
        color: $orange;
        text-shadow: -2px 0px 6px rgba(240, 139, 99, 0.6);
      }
    }
  }
}

h2 {
  font-family: 'Questrial', sans-serif;
  font-weight: normal;
  color: $blue;
  @include font-36;
  text-shadow: -2px 0px 6px rgba(171, 215, 236, 0.6);
  position: relative;
  text-align: center;
  margin-bottom: 80px;
  &::after {
      content: "";
      position: absolute;
      left: 40%;
      right: 40%;
      border: 3px solid #ABD7EC;
      border-radius: 50px;
      box-shadow: -2px 0px 6px rgba(171, 215, 236, 0.6);
      bottom: -14px;
    }
}

.space_box {
  padding: 150px 0;
}

.eventCard {
  padding: 34px;
  border-radius: 20px;
  background-color: $background_color;

  &_dateTag {
    background-color: $dark_blue;
    padding: 8px 8px;
    border-radius: 6px;
    margin-top: 16px;
    display: inline-block;
    p {
      display: inline;
      @include font-14;
    }
  }

  &_title {
    padding: 12px 0;
    h3 {
      @include font-24;
    }
  }
  hr {
    margin: 30px 0;
  }

  &_description {
    p {
      line-height: 2.0;
    }
  }

  &_buttonWrapper {
    margin: 50px 0 36px 0;
    display: flex;
    justify-content: space-around;
  }
}

.button_filled {
  display: inline-block;
  background-color: $orange;
  padding: 24px 60px;
  color: $white;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
}

.button_outline {
  display: inline-block;
  border: 1px solid $orange;
  padding: 24px 60px;
  color: $orange;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
}
