@import "color";
@import "font";


nav {
  width: 100%;
  position: fixed;
  z-index: 999;
  height: 128px;
  background: linear-gradient(#1b1d28, rgba(27, 29, 40, 0.8) 19%, rgba(27, 29, 40, 0));
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
  padding: 0 10%;
  ul {
    display: flex;
    list-style: none;

    li {
      font-family: 'Questrial', sans-serif;
      font-weight: bold;
      line-height: 128px;
      @include font-18;
      padding-left: 50px;
      &:first-child {
        padding-left: 0;
      }

      @media screen and (max-width: 479px) {
        padding-left: 30px;
      }
    }

    a {
      text-decoration: none;
      color: $white;

      &:visited {
        color: $white;
      }

      &:hover {
        color: $orange;
        text-shadow: -2px 0px 6px rgba(240, 139, 99, 0.6);
      }

      img {
        padding-top: 40px;
      }
    }
  }
}

h2 {
  font-family: 'Questrial', sans-serif;
  font-weight: normal;
  color: $blue;
  @include font-36;
  text-shadow: -2px 0px 6px rgba(171, 215, 236, 0.6);
  position: relative;
  text-align: center;
  margin-bottom: 80px;
  @media screen and (max-width: 479px) {
    @include font-24;
    margin-bottom: 60px;
  }
  &::after {
      content: "";
      position: absolute;
      left: 40%;
      right: 40%;
      border: 3px solid #ABD7EC;
      border-radius: 50px;
      box-shadow: -2px 0px 6px rgba(171, 215, 236, 0.6);
      bottom: -14px;
      @media screen and (max-width: 479px) {
        left: 30%;
        right: 30%;
        border: 2px solid #ABD7EC;
      }
    }
}

.space_box {
  padding: 100px 0;
  @media screen and (max-width: 479px) {
    padding: 50px 0;
  }
}

.eventCard {
  padding: 34px;
  border-radius: 20px;
  background-color: $background_color;
  @media screen and (max-width: 479px) {
    padding: 14px;
    border-radius: 10px;
  }

  &_dateTag {
    background-color: $dark_blue;
    padding: 8px 8px;
    border-radius: 6px;
    margin-top: 16px;
    display: inline-block;
    p {
      display: inline;
      @include font-14;
      @media screen and (max-width: 479px) {
        @include font-12;
        font-weight: lighter;
      }
    }
  }

  &_title {
    padding: 12px 0;
    h3 {
      @include font-24;
      @media screen and (max-width: 479px) {
        @include font-20;
        line-height: 1.4;
      }
    }
  }

  &_place {
    @media screen and (max-width: 479px) {
      @include font-14;
      line-height: 1.4;
      font-weight: lighter;
    }
  }
  hr {
    margin: 30px 0;
  }

  &_description {
    p {
      line-height: 2.0;
      @media screen and (max-width: 479px) {
        line-height: 1.9;
        font-weight: lighter;
      }
    }
  }

  &_buttonWrapper {
    margin: 50px 0 36px 0;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 479px) {
      display: block;
      margin: 36px 0;
    }
  }
}

.button_filled {
  display: inline-block;
  background-color: $orange;
  padding: 24px 60px;
  color: $white;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  @media screen and (max-width: 479px) {
    margin: 0 auto;
    display: block;
    margin-top: 30px;
  }
}

.button_filled_with_shadow {
  display: inline-block;
  background-color: $orange;
  padding: 24px 60px;
  color: $white;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 4px 0px rgba(240, 139, 99, 0.5);
  border-radius: 10px;
  position: relative;
  &:after {
    position: absolute;
    content: 'open_in_new';
    font-family: "Material Icons";
    font-size: 20px;
    top: 50%;
    padding-left: 8px;
    margin-top: -10px;
  }
  @media screen and (max-width: 479px) {
    margin: 0 auto;
    display: block;
    margin-top: 30px;
  }
}

.button_filled_with_shadow_unclickable {
  display: inline-block;
  background-color: $gray;
  padding: 24px 60px;
  color: $white;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  @media screen and (max-width: 479px) {
    margin: 0 auto;
    display: block;
    margin-top: 30px;
  }
}

.button_outline {
  display: inline-block;
  border: 1px solid $orange;
  text-align: center;
  padding: 24px 60px;
  color: $orange;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  @media screen and (max-width: 479px) {
    display: block;
  }
}

.button_googlemap {
  display: inline-block;
  background-color: $dark_blue;
  padding: 24px 60px;
  color: $white;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 4px 0px rgba(0, 114, 168, 0.5);
  border-radius: 10px;
  position: relative;
  &:after {
    position: absolute;
    content: 'open_in_new';
    font-family: "Material Icons";
    font-size: 20px;
    top: 50%;
    padding-left: 8px;
    margin-top: -10px;
  }
  @media screen and (max-width: 479px) {
    margin: 0 auto;
    display: block;
    margin-top: 30px;
  }
}
