@import "settings/util";


html {
  font-family: 'Noto Sans JP', sans-serif;
  color: $white;
  font-size: 100%;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: .4px;
}

body {
  margin: 0;
  padding: 0;
  font-feature-settings : "palt" 1;
  background-color: $black;
}

.top_controller {
  .wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 80px 0;
  }  
  .topImage {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: image-url('sdev_logo_motion_image.gif');
  }
  
  .vision{
    h1 {
      @include font-60;
      text-align: center;
      line-height: 1.5;
    }
    
    p {
      @include font-20;
      line-height: 2.0;
      padding: 40px 0;
    }
    
    &_container {
      background-color: $background_color;
      padding: 30px;
      border-radius: 20px;
      margin-top: 40px;
      
      p {
        @include font-36;
        text-align: center;
        padding-top:0;
      }
    }
    
    &_wrapper {
      margin-bottom: 40px;
      &_label {
        @include font-24;
        font-weight: bold;
        margin-bottom: 25px;
      }
      
      p {
        @include font-16;
        padding: 0;
        text-align: left;
      }
    }
    
    
  }
}