@import "settings/util";


html {
  font-family: 'Noto Sans JP', sans-serif;
  color: $white;
  font-size: 100%;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: .4px;
}

body {
  margin: 0;
  padding: 0;
  font-feature-settings : "palt" 1;
  background-color: $black;
}

.top_controller {
  .wrapper {
    width: 800px;
    margin: 0 auto;
    padding: 80px 0;
    
    @media screen and (max-width: 680px) {
      width: 100%;
      padding: 40px 18px;
      box-sizing: border-box;
    }
  }  
  
  .topImage {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: image-url('sdev_logo_motion_image.gif');
    @media screen and (max-width: 680px) { 
      background-image: image-url('sdev_top_spw@3x.jpg');
    }
  }
  
  .vision{
    h1 {
      @include font-60;
      text-align: center;
      line-height: 1.5;
      @media screen and (max-width: 680px) {
        @include font-24;
      }
    }
    
    p {
      @include font-20;
      line-height: 2.0;
      padding: 40px 0;
      @media screen and (max-width: 680px) {
        @include font-16;
      }
    }
    
    &_container {
      background-color: $background_color;
      padding: 30px;
      border-radius: 20px;
      margin-top: 40px;
      @media screen and (max-width: 680px) {
        padding: 14px;
        border-radius: 10px;
      }
      
      p {
        @include font-36;
        text-align: center;
        padding-top:0;
        @media screen and (max-width: 680px) {
          @include font-20;
        }
      }
    }
    
    &_wrapper {
      margin-bottom: 40px;
      &_label {
        @include font-24;
        font-weight: bold;
        margin-bottom: 25px;
        @media screen and (max-width: 680px) {
          @include font-16;
        }
      }
      
      p {
        @include font-16;
        padding: 0;
        text-align: left;
        @media screen and (max-width: 680px) {
          @include font-14;
        }
      }
    }
  }
  
  .hashtag {
    text-align: center;
    &_label {
      text-shadow: -2px 0px 6px rgba(171, 215, 236, 0.6);
      color: $blue;
      @include font-18;
    }
    
    p {
      @include font-36;
      font-weight: bold;
      margin-top: 20px;
    }
    
    ul {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      li:last-child {
        margin-left: 40px;
      }
    }
  }
}